<%#
# Navigation

This partial is used to display the navigation in Administrate.
By default, the navigation contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>

<nav class="navigation" role="navigation">
  <%= link_to(t("administrate.navigation.back_to_app"), root_url, class: "button button--alt") if defined?(root_url) %>

  <h1 style="margin-bottom: 20px">Zeus</h1>

  <%= link_to "Environments", "/admin/project_environments" %>

  <% Administrate::Namespace.new(namespace).resources_with_index_route.each do |resource| %>
    <% next if resource == "project_environments" %>
    <%= link_to(
      display_resource_name(resource),
      resource_index_route(resource),
      class: "navigation__link navigation__link--#{nav_link_state(resource)}"
    ) if valid_action?(:index, resource) && show_action?(:index, model_from_resource(resource)) %>
  <% end %>

  <div style="border-top: 1px solid #ccc; margin-top: 20px; margin-bottom: 20px;" />

  <div style="margin: 5px 0;"><%= link_to "Core", "https://api.zeusdev.io/admin" %></div>
  <div style="margin: 5px 0;"><%= link_to "Auth", "https://auth.zeusdev.io/admin" %></div>
  <div style="margin: 5px 0;"><%= link_to "Multiplayer", "https://multiplayer.zeusdev.io/admin" %></div>
  <div style="margin: 5px 0;"><%= link_to "Assets", "https://assets.zeusdev.io/admin" %></div>
</nav>
